<div class="col-sm-12" style="text-align: center;">
    <h4><b>DADOS PRODUTO</b></h4>
</div>

<div class="form-horizontal">
    <div class="col-sm-6">
        <h4><b>ID:</b></h4>
        <input class="form-control" type="text" #Id (ngModel)="Ids"
               style="background-color:tan; width: 400px;text-align:center;" readonly value="{{ Ids }}">
    </div>

    <div class="col-sm-6">
        <h4><b>Titulo:</b></h4>
        <input class="form-control" style="width: 400px;text-align:center;" type="text" 
               (ngModel)="Titulos" #Titulo maxlength="100" value="{{ Titulos }}">
    </div>

    <div class="col-sm-6">
        <h4><b>Valores (R$):</b></h4>
        <input class="form-control" style="width: 400px;text-align:center;" type="text"
               [(ngModel)]="Valores" #Valor value="{{ Valores }}" >
    </div>

    <div class="col-sm-6">
        <h4><b>Data Cadastro:</b></h4>
        <input style="width: 400px;text-align:center;background-color:tan" type="text" #DataCadastro
               (ngModel)="DataCadastros" value="{{ DataCadastros | date:'dd/MMMM/yyyy' }}" class="form-control" readonly>
    </div>

    <div class="col-sm-6">
        <h4><b>Ativo:</b></h4>
        <input class="form-check-input" type="checkbox" (click)="changeStatus()" [(ngModel)]="Ativos">
    </div>
    <p>&nbsp;</p>
    <div class="col-sm-12">
        <button (click)=ngAddProduto(Id.value,Titulo.value,Valor.value,DataCadastro.value)
                style="width:220px;font-size:large;" class="btn btn-success">
            SALVAR
        </button>

        <button style="width:220px;font-size:large;" class="btn btn-danger"
                routerLink="/counter" routerLinkActive="active">
            CANCELAR
        </button>
    </div>
</div>
